*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background: #000;
    color: white;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.logo{
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10%;
}
.nav-links{
    text-align: right;
    background: #ff1616;
    padding: 10px 30px;
    border-bottom-left-radius: 18px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.left-sidebar{
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ff1616;
}
.row{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 10px;
    position: relative;
    margin-top: 5%;
}

.left-col{
    flex-basis: 40%;
}
.right-col{
    flex-basis: 55%;
}
.left-col img{
    width: 65%;
    cursor: pointer;
    margin-left: 120px;
    filter: grayscale(0);
    transition: filter 1s;
}
.left-col img:hover{
    filter: grayscale(1);
}
.container{
    display: bottom;
}
.right-col h1{
    font-size: 50px;
    font-weight: 600;
    display: bottom;
    line-height: 70px;
    /* font-family: 'poppins'; */
}
.right-col p{
    width: 80%;
    color: #777;
    margin: 20px 0 70px;
    display: top;
}
.social-media{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.icon{
    width: 100px;
    height: 85px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 20px;
    margin-bottom: 0px;
    border-radius: 6px;
    overflow: hidden;
    transition: transform .5s;
}
.icon img{
    width: 28%;
}
.icon a{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ff1616;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}
.icon a:hover{
    opacity: 1;
}
.icon:hover{
    transform: translateY(-5px);
}















